/* Стили для формы */
#todo-form {
  margin-bottom: 10px; /* Добавляем  отступ между формой и задачами */
}

/* Стили для задачи в списке */
.todo {
  margin-bottom: 5px; /* Добавляем  отступ между задачами */
}

/* Стили для чекбокса задачи */
.todo input[type='checkbox'] {
  margin-right: 5px; /* Добавляем  отступ между чекбоксом и текстом задачи */
}

/* Стили для текста задачи */
.todo label {
  font-size: 18px; /* Устанавливаем размер шрифта для текста задачи */
}
